#container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, p {
    color: orangered;
}

.form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-row-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-col {
    display: flex;
    flex-direction: column;
}

.textbox {
    height: 40px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding-left: 20px;
    font-size: 16px;
}

.textbox1 {
    width: 320px;
}

.textbox2 {
    width: 200px;
}

.textbox:hover, select:hover,
textarea:hover {
    border-color: orangered;
}

select {
    height: 50px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

textarea {
    height: 180px;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-bottom: 30px;
    padding-left: 30px;
    padding-top: 10px;
    font-size: 22px;
}

textarea:focus {
    outline: 1px solid orangered;
}

.buttons-container {
    display: flex;
    flex-direction: row;
}

button {
    width: 75%;
    height: 40px;
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 5px;
}

.button-reset {
    width: 25%;
    margin-right: 20px;
}

@media (max-width: 850px) {
    #container, .textbox1, .textbox2 {
        width: auto;
    }

    .form-row {
        flex-direction: column;
    }

    .form-row-wrap {
        justify-content: flex-start;
    }

    .form-wrap {
        flex-basis: 50%;
    }
}